body {
  font-family: 'Source Sans Pro', sans-serif;
}

#title {
  position: relative;
  background: url(../images/bg2.jpg);
  height: 50%;
  background-size: cover;
  background-position: center;
  color: #FFCDDD;
  padding-bottom: 3rem;
}

#ismail {
  position: relative;
  background: url(../images/family1.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: right;
  color: #8946A6;
  padding: 4rem 5rem;
}

#adam {
  position: relative;
  background: url(../images/family2.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: #FFCDDD;
  padding: 5rem;
}

#yasmin {
  position: relative;
  background: url(../images/family3.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: left;
  color: #8946A6;
  padding: 5rem;
}

#papa {
  position: relative;
  background: url(../images/family4.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  color: #FFCDDD;
  padding: 5rem;
}

#footer {
  color: #8946A6;
  background-color: #FFCDDD;
  font-family: Playfair Display;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 6.5rem;
  line-height: 1.5;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 900;
}

p {
  color: #FFCDDD;
}

span {
  color: #ef8172;
  font-size: 4rem;
}

span:hover {
  color: #ff4c68;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Great Vibes';
  font-size: 6rem;
  font-weight: bold;
}

.navbar-dark .navbar-brand {
    color: #FFCDDD;
}

.nav-item {
  font-size: 1.2rem;
  padding: 0 18px;
}

.nav-link {
  font-weight: 400;
  color: #FFCDDD;
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 100%;
  display: block;
  margin: auto;
}

/* videos */
 .video-message {
   width: 100%;
   display: block;
   margin: auto;
 }

/* Ismail image */

.ismail-image {
  width: 100%;
  display: block;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

 /* Adam image */

 .adam-image {
   width: 100%;
   display: block;
   margin: auto;
   padding-top: 3rem;
   padding-bottom: 3rem;
 }

 /* Yasmin image */

 .yasmin-image {
   width: 100%;
   display: block;
   margin: auto;
   padding-top: 3rem;
   padding-bottom: 3rem;
 }

 /* Papa image */

 .papa-image {
   width: 100%;
   display: block;
   margin: auto;
   padding-top: 3rem;
   padding-bottom: 3rem;
 }

.footer-adam {
  font-family: 'Source Sans Pro';

}
